Source: loki-network-control-panel
Section: net
Priority: optional
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Build-Depends: debhelper (>= 10~),
    imagemagick,
    librsvg2-bin,
    qtdeclarative5-dev,
    libqt5charts5-dev
Standards-Version: 4.4.1
Homepage: https://github.com/loki-project/loki-network-control-panel

Package: lokinet-gui
Architecture: any
Depends: lokinet (>= 0.7.0), ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-controls,
    qml-module-qtquick-controls2, qml-module-qtquick-dialogs, qml-module-qt-labs-platform, qml-module-qtcharts
Description: Lokinet control panel
 This package contains a graphical (Qt-based) control panel for interacting
 with a Lokinet client daemon.
